<template>
    <div class="register-form">
        <h1>Register</h1>
        <form v-on:submit="sendDate" class="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue';
import type { Ref } from 'vue';
import AuthService from '@/service/UserService';

let name: Ref<string> = ref('');
let email: Ref<string> = ref('');
let password: Ref<string> = ref('');

const service = new AuthService();

const sendDate = (e: any) => {
    e.preventDefault();

    if ([email.value, name.value, password.value].includes('')) {
        console.log('Por favor, rellena todos los apartados.');
        return;
    }

    let createUser = {
        name: name.value,
        email: email.value,
        password: password.value
    }

    console.log(createUser);

    service.createUser(createUser.email, createUser.name, createUser.password);
}


</script>
<style scoped>
.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.form-control:focus,
.btn:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}
</style>
