<template>
    <div class="user-details">
        <h2><label class="label">Nombre: </label>{{ user.name }}</h2>
        <h2><label class="label">Email: </label>{{ user.email }}</h2>
        <h2><label class="label">Password: </label>{{ user.password }}</h2>
    </div>
</template>
<script lang="ts" setup>
import { useRoute } from 'vue-router';
import AuthService from '@/service/UserService';
import { onMounted } from 'vue';

const service = new AuthService();
const user = service.getUser();

onMounted(async () => {
    const router = useRoute();
    const userEmail = router.params.email as string;
    await service.fetchPost(userEmail);
});
</script>
<style scoped>
.user-details {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}


.label::after {
    content: ":";
    margin-right: 5px;
}

.user-details h2 {
    display: flex;
    align-items: center;
}

.user-details h2 label {
    margin-right: 10px;
}

.user-details h2 span {
    font-weight: normal;
}
</style>