<template>
    <div class="users-list">
        <h1>Usuarios</h1>
        <ul class="user-items">
            <li v-for="(user, index) in users" :key="index" class="user-item">
                <RouterLink :to="{ name: 'user', params: { email: user.email } }" class="user-link">{{ user.name }}</RouterLink>
            </li>
        </ul>
    </div>
</template>
<script lang="ts" setup>
import AuthService from '@/service/UserService';
import { onMounted, type Ref } from 'vue';
import type IUser from '@/interface/IUser';
import { RouterLink } from 'vue-router';

const service = new AuthService();
const users: Ref<IUser[]> = service.getUsers();


onMounted(async () => {
    await service.fetchAll();
});
</script>
<style scoped>
.users-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-items {
    list-style: none;
    padding: 0;
}

.user-item {
    margin-bottom: 10px;
}

.user-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user-link:hover {
    color: #0056b3;
}
</style>